@model IEnumerable<Data.Models.Article>

@{
    ViewData["Title"] = "Index";
}

<br />

<div>
    <h1 class="text-dark fst-italic">ARTICLES</h1>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>


<table class="table table-dark table-striped table-hover table-sm">
    <thead>
        <tr>
            <th class="col-3">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th class="col-3">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="col-3">
                URL to Image
            </th>
            <th class="col-3">
                Published At
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <img src="@Url.Content(item.Urlimagen)" height="150" width="150"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ArticleId">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.ArticleId">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.ArticleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
